<h3>Hi Mr./Mrs {{firstName}} {{lastName}}</h3>
<p>Please verify your email by clicking the link below</p>
<a href="{{link}}" style="width: 100%; padding: 10px 0; text-align: center; text-decoration: none; font-size: 14px; margin-top: 15px; letter-spacing: 1px; display: block; background: #4B209D; border-radius: 20px; color: #fff; font-weight: bold">
    CLICK HERE
</a>
