<h3>Hi there!</h3>
<p>You have been invited to the channel '{{name}}'</p>
<p>Click the link below to respond to the invitation</p>
<a href="{{link}}" style="width: 100%; padding: 10px 0; text-align: center; text-decoration: none; font-size: 14px; margin-top: 15px; letter-spacing: 1px; display: block; background: #4B209D; border-radius: 20px; color: #fff; font-weight: bold">CLICK HERE</a>
