<h3>Hi Mr./Mrs {{firstName}} {{lastName}}</h3>
<p>You request a password reset for you octopus account. Please click the link below to reset your password now</p>
<p>If you didn't make this request please ignore this email</p>
<a href="{{link}}" style="width: 100%; padding: 10px 0; text-align: center; text-decoration: none; font-size: 14px; margin-top: 15px; letter-spacing: 1px; display: block; background: #4B209D; border-radius: 20px; color: #fff; font-weight: bold">CLICK HERE</a>
