<h3>Hi Mr./Mrs {{firstName}} {{lastName}}</h3>
<p>You request a password reset for you octopus account. Please click the link below to reset your password now</p>
<p>If you didn't make this request please ignore this email</p>
<a href="{{link}}">Click Here</a>