{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "error",
    "no-console": "warn",
    "func-names": "off",
    "no-process-exit": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-await-in-loop": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "globals": {
    "sequelize": "readonly"
  }
}
