{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "root": false,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "../tsconfig.json",
    "tsconfigRootDir": "../"
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/prefer-default-export": "off",
    "react/static-property-placement": "off",
    "max-classes-per-file": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-vars": "error",
    "no-console": "warn",
    "func-names": "off",
    "no-process-exit": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "no-await-in-loop": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
